* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::selection {
  background: rgba(0, 0, 0, 0.77);
  color: white; }

html {
  font-size: 67.5%; }

body {
  font-family: Montserrat;
  font-size: 1.6rem;
  user-select: text; }

.pre {
  background: #ff000022;
  display: inline-block;
  font-family: monospace;
  padding: 3px;
  border-radius: 5px;
  color: #aa0000; }

@keyframes fromRight {
  from {
    transform: rotate(-5deg);
    opacity: .3;
    transform-origin: right; } }

@keyframes downScale {
  from {
    transform: scale(1.2);
    opacity: 0; } }

@keyframes blink {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes progressReveal {
  from {
    width: 0; } }

@keyframes pulse {
  10% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.padded-page {
  padding: 3rem; }
  .padded-page .full-viewport {
    height: calc(100vh - 6rem); }

.full-viewport {
  width: 100%;
  height: 100vh; }

.flex-container {
  display: flex;
  padding: 4rem 2rem; }

.container {
  padding: 4rem 2rem; }

.gradient-background {
  background: linear-gradient(105deg, #eee 70%, #fff 70%); }

.margin-bottom {
  margin-bottom: 1rem; }

.margin-top {
  margin-top: 1rem; }

.half-screen {
  width: calc(50% - 4rem);
  padding: 1rem; }

.center {
  align-items: center;
  justify-content: center;
  text-align: center; }

.typing {
  position: relative; }
  .typing:after {
    content: '|';
    animation: blink .5s infinite;
    position: absolute;
    bottom: 1px; }

.profile__photo-container {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  background: black;
  animation: pulse 1s;
  margin-bottom: 1.2rem;
  overflow: hidden;
  box-shadow: 0 0 0 0.4rem white, 0 0 0 0.8rem black; }

.profile__photo {
  width: 100%; }

.profile__details h1 {
  font-weight: 800;
  font-size: 3rem;
  animation: fromRight 1s; }

.profile__details p {
  width: 50rem; }

.profile__social-icons {
  margin-top: 1rem; }
  .profile__social-icons a {
    color: black;
    font-size: 1.8rem; }
    .profile__social-icons a:not(:last-child) {
      margin-right: .5rem; }
    .profile__social-icons a .fa {
      animation-name: downScale;
      animation-duration: .8s;
      transition: all .5s;
      animation-fill-mode: both; }
    .profile__social-icons a .fa-facebook-square {
      animation-delay: 0s; }
      .profile__social-icons a .fa-facebook-square:hover {
        color: #3b5998; }
    .profile__social-icons a .fa-github {
      animation-delay: .3s; }
      .profile__social-icons a .fa-github:hover {
        color: #6e5494; }
    .profile__social-icons a .fa-instagram {
      animation-delay: .6s; }
      .profile__social-icons a .fa-instagram:hover {
        color: #c13584; }
    .profile__social-icons a .fa-twitter {
      animation-delay: .9s; }
      .profile__social-icons a .fa-twitter:hover {
        color: #1da1f2; }
    .profile__social-icons a .fa-codepen {
      animation-delay: 1.2s; }
      .profile__social-icons a .fa-codepen:hover {
        color: #ae63e4; }

.projects {
  display: flex;
  flex-wrap: wrap; }
  .projects .project {
    margin-top: 1rem;
    width: calc(50% - 1rem); }
    .projects .project:nth-of-type(odd) {
      margin-right: 2rem; }

.box {
  padding: 2rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2); }
  .box__heading {
    margin-bottom: 1rem; }
  .box__image {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem; }
  .box__details {
    font-size: 1.5rem;
    word-wrap: break-word; }
